.popup__input-container {
  width: 358px;
  display: flex;
  flex-direction: column;
  margin: 0 auto 37px;
  border: 0;
}

@media screen and (max-width:540px) {
  .popup__input-container {
    width: 84.4%;
    margin-bottom: 25px;
  }
}
