.popup__close {
  width: 33px;
  min-height: 33px;
  border: none;
  background: url(../../../images/close.svg) no-repeat center;
  background-size: cover;
  padding: 0;
  position: absolute;
  top: -40px;
  right: -40px;
  transition: .2s;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width:540px) {
  .popup__close {
    top: -36px;
    width: 20px;
    min-height: 20px;
    right: 0;
  }
}
