.profile__buttom {
  background-color: black;
  border: 2px solid #fff;
  border-radius: 2px;
  min-width: 150px;
  height: 50px;
  justify-self: end;
  align-self: center;
  background: url(../../../images/add.svg) no-repeat center;
  transition: .2s;
  cursor: pointer;
}

.profile__buttom:hover {
  opacity: 0.6;
}

@media screen and (max-width:700px) {
  .profile__buttom {
    justify-self: center;
    width: 100%;
  }
}

@media screen and (max-width:320px) {
  .profile__buttom {
    background: url(../../../images/add320.svg) no-repeat center;
  }
}
