.popup__buttom {
  width: 100%;
  min-height: 50px;
  border: none;
  align-self: center;
  background: #000;
  border-radius: 2px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFF;
  transition: .2s;
  cursor: pointer;
  padding: 0;
  margin-top: 18px;
}

.popup__buttom:hover {
  background: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width:540px) {
  .popup__buttom {
    font-size: 4.375vw;
    line-height: 17px;
    margin-top: 15px;
  }
}

@media screen and (max-width:320px) {
  .popup__buttom {
    min-height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
