.profile-info__subtitle {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 0.52;
  margin: 0;
  padding: 0;
  color: #FFF;
  align-self: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: clip;

}

@media screen and (max-width:700px) {
  .profile-info__subtitle {
    font-size: calc(14px + 1.4vw);
    text-align: center;
  }
}

@media screen and (max-width:350px) {
  .profile-info__subtitle {
    line-height: 17px;
    font-size: 14px;
  }
}
