.profile-info {
  display: grid;
  max-width: 336px;
  grid-template-columns: 294px 1fr;
  grid-template-rows: 40px 18px;
  column-gap: 18px;
  row-gap: 16px;
  align-content: center;
}

@media screen and (max-width:700px) {
  .profile-info {
    width: 88%;
    max-width: 680px;
    grid-template-columns: 1fr minmax(18px, 24px);
    column-gap: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width:350px) {
  .profile-info {
    justify-content: center;
    margin-left: 30px;
    grid-template-columns: 189px minmax(16px, 18px);
    grid-template-rows: 26px 14px;
  }
}
