.profile-info {
  display: grid;
  max-width: 336px;
  grid-template-columns: 294px 1fr;
  column-gap: 18px;
  align-content: center;
}

@media screen and (max-width:700px) {
  .profile-info {
    width: 88%;
    max-width: 680px;
    grid-template-columns: 1fr minmax(18px, 24px);
    margin-bottom: 10px;
  }
}
