.profile-info__edit {
  width: 10px;
  height: 10px;
  object-fit: cover;
  box-sizing: border-box;
  fill: #fff;
}

@media screen and (max-width:320px) {
  .profile-info__buttom {
    width: 7.5px;
    height: 7.5px;
  }
}
